<div class="large-container center-block">
    <h1><%= @article.title %></h1>
    <p><%= @article.content %></p>
    <div>
        <p> Escrito por: <strong> <%= @article.user.email %> </strong> </p>
    </div>
    <div class="margin-top">
        <p class="Label">Tags
    </div>
    <% @article.categories.each do |category| %>
    <span class="badge badge-pill padding" style="background-color:<%= category.color %>">
        <%= link_to category.title, category, class:"text-white" %>
    </span>
    <%end%>
</div>

<% if is_article_author(@article) && check_editor_admin %>
<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
<%end%>
</div>

<div class="card padding margin-top">
    <%unless @article.draft? %>
    <h2>Comments</h2>
    <% @article.comments.each do |comment| %>
    <h3 class="text-uppercase">
        <strong>Commenter:</strong>
        <%= comment.author.email %>
    </h3>
    <p class="text-secondary">
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>
    <% end %>
</div>




<% if user_signed_in? %>
<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
<p>
    <%= form.label :body %><br>
    <%= form.rich_text_area :body %>
</p>
<p>
    <%= form.submit %>
</p>
<% end %>
<%end%>
<%end%>